<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <br /><br /><br /><br /><br /><br />
        <div align="center">
            <h3>MD5 查询</h3>
        </div>
        <form method="get" action='/search'>
            <div align="center">
            <label><input type="text" name="hash" value="" size="50"></label><input type="submit" value="查询"><br>
            </div>
        </form>
    </body>
</html>